@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

/* COLORS */
/*primary*/
$intro-and-email-bg-color: hsl(217, 28%, 15%);
$main-bg-color: hsl(218, 28%, 13%);
$footer-bg-color: hsl(216, 53%, 9%);
$testimonials-bg-color: hsl(219, 30%, 18%);

/*accent*/

$cyan-inside-call-to-action-gradient: hsl(176, 68%, 64%);
$blue-inside-call-to-action-gradient: hsl(198, 60%, 50%);
$light-red-error: hsl(0, 100%, 63%);

/*neutral*/
$white-color: hsl(0, 0%, 100%);

/* font-weight */
$normal: 400;
$bold: 700;

/*SIZE*/
$max-width-desktop: 1440px;
$max-width-mobile: 320px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 80%;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
}
h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.5rem;
}

.mg-bottom {
  margin-bottom: 3rem !important;
}

img {
  height: auto;
  display: block;
  max-width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: $white-color;
  background-color: $main-bg-color;
}

.wrapper {
  max-width: calc($max-width-mobile + 2rem);
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.header {
  background-color: $intro-and-email-bg-color;

  &__content {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
  }

  &__logo-img {
    max-height: 2.2rem;
  }

  &__nav-items {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  &__nav-item a {
    color: $white-color;
    text-decoration: none;
  }
  &__nav-item a:hover {
    text-decoration: underline;
  }
}

.hero {
  padding: 2rem 0;
  background: url("./images/bg-curvy-mobile.svg"), $intro-and-email-bg-color;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: auto;
    align-items: center;
    text-align: center;
  }

  &__title {
    max-width: 100%;
    line-height: 1.5;
  }

  &__btn {
    padding: 1rem 5.5rem;
  }
}

.btn {
  color: $white-color;
  border-radius: 3rem;
  background: linear-gradient(
    to right,
    $cyan-inside-call-to-action-gradient,
    $blue-inside-call-to-action-gradient
  );
  border: 0;

  cursor: pointer;
  font-size: 1.1rem;
}

.marketing-contents {
  display: grid;
  grid-row-gap: 5rem;
}

.marketing-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1.5rem;

  &__img {
    max-height: 5rem;
  }
}
.argument {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  &__title {
    font-size: 1.3rem;
  }

  &__text-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__link {
    color: $cyan-inside-call-to-action-gradient;
  }

  &__link-arrow {
    display: inline;
  }
}
.testimonials {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.testimonial {
  background-color: $testimonials-bg-color;
  max-width: 25rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.03);
  position: relative;

  &:first-child ::before {
    content: url("./images/bg-quotes.png");
    position: absolute;
    top: -2rem;
    left: -1rem;
    z-index: -1;
    transform: scale(0.7);
  }

  &__author {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__author-name {
    font-size: 0.8rem;
    font-weight: $bold;
  }

  &__author-occupation {
    font-size: 0.6rem;
  }

  &__author-avatar {
    max-height: 2rem;
    border-radius: 50%;
  }
}
.signup {
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  z-index: 5;

  &__content {
    background-color: $intro-and-email-bg-color;
    border-radius: 0.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    text-align: center;
  }

  &__title {
    text-align: center;
  }
  &__btn {
    padding: 1rem 4rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__email {
    padding: 1rem 4rem;
    border-radius: 3rem;
    border: 0;
  }
  &__email::placeholder {
    color: #d6d6d6;
  }
}

.footer {
  background-color: $footer-bg-color;
  margin-top: -13rem;
  padding-top: 15rem;

  &__information {
    display: flex;
    flex-direction: column;
  }

  &__logo {
    margin-bottom: 3rem;
  }

  &__nav-items {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 1.5rem;
  }

  &__contacts {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 2rem;
  }

  &__contact {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__social-network {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
}

.attribution {
  font-size: 0.7rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*Desktop Responsive */
@media (min-width: 992px) {
  html {
    font-size: 100%;
  }
  .wrapper {
    padding-left: 5rem;
    padding-right: 5rem;
    max-width: $max-width-desktop;
  }
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  .hero {
    padding: 2rem 2rem 10rem 2rem;

    &__content {
      max-width: 720px;
    }
  }

  .marketing-contents {
    grid-template-columns: repeat(2, minmax(auto, 25rem));
    grid-column-gap: 5rem;
    justify-content: center;
  }
  .argument {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    margin: auto;

    &__title {
      max-width: 20rem;
    }
  }

  .testimonials {
    flex-direction: row;
    gap: 2.5rem;
  }

  .testimonial {
    &:first-child ::before {
      transform: scale(1);
    }
  }
  .signup {
    max-width: 55%;
    margin: auto;
    &__form {
      flex-direction: row;
      width: 100%;
    }
    &__email {
      flex: 1;
    }
  }
  .footer {
    &__contacts {
      max-height: 5rem;
      flex-wrap: wrap;
    }

    &__contact {
      max-width: 25rem;
    }

    &__information {
      flex-direction: row;
      justify-content: space-between;
    }

    &__nav-items {
      height: 12rem;
      flex-wrap: wrap;
    }
  }
}
